{% extends "employee_site/main_template.html" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = "employee_site/css/plugins/summernote/summernote.css") }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = "employee_site/css/plugins/summernote/summernote-bs3.css") }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = "employee_site/css/plugins/selectize/selectize.bootstrap3.css") }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = "employee_site/css/plugins/sweetalert/sweetalert.css") }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = "employee_site/css/plugins/ladda/ladda-themeless.min.css") }}">
{% endblock %}

{% block body %}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-5">
        <h2>Newsletter</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="{{ url_for('frontpage_cms')}}">CMS</a>
            </li>
            <li class="active">
                <strong>Edit Article</strong>
            </li>
        </ol>
    </div>
</div>


<!-- <p> {{ part_detail_data }} </p> -->
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Edit Article</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel-body">
                                <form action="/" method="post" id="newsletter-form">
                                <fieldset class="form-horizontal">
                                    <div class="form-group"><label class="col-sm-1 control-label">Title*</label>
                                        <div class="col-sm-11"><input id="article-title" type="text" class="form-control" placeholder="Article title" value="{{article.title}}"></div>
                                    </div>
                                    <div class="form-group"><label class="col-sm-1 control-label">Category*</label>
                                        <div class="col-sm-11">
                                            <select id="article-category" class="form-control">
                                                <option {% if article.category == 'All' %} selected {% endif %} value="All">All</option>
                                                <option {% if article.category == 'Dishwasher' %} selected {% endif %} value="Dishwasher">Dishwasher</option>
                                                <option {% if article.category == 'Dryer' %} selected {% endif %} value="Dryer">Dryer</option>
                                                <option {% if article.category == 'Laundry' %} selected {% endif %} value="Laundry">Laundry</option>
                                                <option {% if article.category == 'Microwave' %} selected {% endif %} value="Microwave">Microwave</option>
                                                <option {% if article.category == 'Range' %} selected {% endif %} value="Range">Range</option>
                                                <option {% if article.category == 'Refrigerator' %} selected {% endif %} value="Refrigerator">Refrigerator</option>
                                                <option {% if article.category == 'Washer' %} selected {% endif %} value="Washer">Washer</option>
                                                <option {% if article.category == 'Other' %} selected {% endif %} value="Other">Other</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group"><label class="col-sm-1 control-label">Status*</label>
                                        <div class="col-sm-11">
                                            <select id="article-status" class="form-control">
                                                <option {% if article.status == 'Published' %} selected {% endif %} value="Published">Published</option>
                                                <option {% if article.status == 'Draft' %} selected {% endif %} value="Draft">Draft</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group"><label class="col-sm-1 control-label">Summary*</label>
                                        <div class="col-sm-11"><textarea id="article-summary" name="newsletter-subject" type="textarea" rows="3" class="form-control" placeholder="Brief summary for the article">{{article.summary}}</textarea></div>
                                    </div>
                                    <div class="form-group"><label class="col-sm-1 control-label">Content*</label>
                                        <div class="col-sm-11">
                                            <div id="article-content"></div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-4 col col-sm-offset-3">
                                            <a href="{{url_for('frontpage_cms')}}" class="btn btn-default">Cancel</a>
                                            <a id="save-article" class="ladda-button btn btn-primary" data-style="expand-right">Save</a>
                                            <a role="button"  id="trash-article" class="ladda-button btn btn-danger">Move to Trash</a> 
                                        </div>
                                    </div>
                                </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block javascript %}
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script src="{{ url_for('static', filename = "employee_site/js/plugins/summernote/summernote.min.js") }}"></script>
    <script src="{{ url_for('static', filename = "employee_site/js/plugins/sweetalert/sweetalert.min.js") }}"></script>
    <script src="{{ url_for('static', filename = "employee_site/js/plugins/selectize/selectize.min.js") }}"></script>
    <script src="{{ url_for('static', filename = "employee_site/js/plugins/ladda/spin.min.js") }}"></script>
    <script src="{{ url_for('static', filename = "employee_site/js/plugins/ladda/ladda.min.js") }}"></script>
    <script src="{{ url_for('static', filename = "employee_site/js/plugins/ladda/ladda.jquery.min.js") }}"></script>
    <script src="{{ url_for('static', filename = "employee_site/js/front-page/cms/article.js") }}"></script>

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
            $('#article-content').summernote({
                placeholder: "Article content",
                height: 500,
                focus: true
            });
            $('#article-content').summernote('code', '{{article.content|safe}}');
            var postUrl = '/front-page/cms/{{article.id}}/edit/';
            var $articleStatus = $('#article-status').val();
            $saveArticle.on('click', function() {
                Article.submitArticleForm($articleStatus, postUrl);
                return false;
            });

            $trashArticle.on('click', function() {
                Article.submitArticleForm('Trashed', postUrl);
                return false;
            });

        });
    </script>
{% endblock %}