{% extends "employee_site/main_template.html" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.10/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.0.0/css/responsive.bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = "employee_site/css/plugins/sweetalert/sweetalert.css") }}">
{% endblock %}

{% block body %}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-5">
        <h2>Invoices</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/internal/">Home</a>
            </li>
            <li class="active">
                <strong>Invoices</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-7 title-action">
        <a href="#" class="btn btn-primary btn-sm">Pending Confirmation Numbers</a>
    </div>
</div>


<!-- <p> {{ part_detail_data }} </p> -->
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>All Invoices</h5>
                    <div class="ibox-tools pull-right">
                        <!-- <a href="#" id="import_invoice_test" class="btn btn-primary btn-sm">Test</a> -->
                        <div class="dropdown">
                            <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="new_invoice_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                New Invoice
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="new_invoice_dropdown">
                                <li><a href="{{ url_for('internal_new_invoices')}}">Enter Manually</a></li>
                                <li><a href="#" role="button" data-toggle="modal" data-target="#import_invoice_form" id="import_invoice_button">Import</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="ibox-content">
                    <table id="invoice_table" class="table table-hover table-striped" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Invoice Number</th>
                                <th>Date Received</th>
                                <th class="text-center">Received By</th>
                                <th class="text-center">Number of Items</th>
                                <th class="text-center">Amount</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Invoice Number</th>
                                <th>Date Received</th>
                                <th class="text-center">Received By</th>
                                <th class="text-center">Number of Items</th>
                                <th class="text-center">Amount</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Hidden form for invoice import -->
<div class="modal inmodal" id="import_invoice_form" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content animated">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Import Invoice</h4>
                </div>
                <form action="" method=post enctype=multipart/form-data>
                    <div class="modal-body" id="process_add_role">
                        <div id="add_role_error_msg"></div>
                        <fieldset class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">File*</label>
                                <div class="col-sm-10">
                                    <div style="position:relative;">
                                        <a class='btn btn-primary' href='javascript:;'>
                                            Choose File...
                                            <input id="invoice_file" type="file" style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;' name="invoice_file" size="40" onchange='$("#upload-file-info").html($(this).val());'>
                                        </a>
                                        &nbsp;
                                        <span class='label label-info' id="upload-file-info"></span>
                                    </div>
                                    <small><strong>Instruction:</strong> Lookup invoice number on GSPN under 'Shipping Information' &rarr; Download Excel file &rarr; Open file in Excel &rarr; Save as.. &rarr; Choose lattest Excel format.</small>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                        <button type="submit" value="submit" id="import_invoice" class="btn btn-primary">Import</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}
    <script src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script src="https://cdn.datatables.net/1.10.10/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.0.0/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.0.0/js/responsive.bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename = "employee_site/js/plugins/sweetalert/sweetalert.min.js") }}"></script>
    <script src="{{ url_for('static', filename = "employee_site/js/inventory/invoice/invoice_table.js") }}"></script>

{% endblock %}