{% extends "employee_site/main_template.html" %}

{% block css %}

{% endblock %}

{% block body %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>New Invoices</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/internal/">Home</a>
            </li>
            <li>
                <a href="/internal/inventory/invoices/">Invoices</a>
            </li>
            <li class="active">
                <strong>New Invoice</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Enter New Invoice Detail </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#">Config option 1</a>
                            </li>
                            <li><a href="#">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form role="form" id="new_invoice_form" action="" method="POST" >
                        <div class="row"  >
                            <div class="col-sm-6 col-md-9">
                                <div class="form-group">
                                    <label class="control-label" for="invoice_number">Invoice Number</label>
                                    <input type="text" id="invoice_number" name="invoice_number" value="" placeholder="Invoice #" class="form-control" maxlength="10" autofocus tabindex="1">
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label class="control-label" for="date_received">Date received</label>
                                    <div class="input-group date">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input id="date_received" name="date_received" type="text" class="form-control new_invoice_date_received" value="{{ today_date }}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="part_input">
                            <div class="row ">
                                <div class="col-xs-5 col-sm-5">
                                    <div class="form-group">
                                        <label class="control-label" for="part_number">Part Number</label>
                                        <input style="text-transform:uppercase" type="text" id="part_number" name="part_numbers[]" value="" placeholder="Part #" class="form-control part_number" tabindex="2">
                                    </div>
                                </div>
                                <div class="col-xs-4 col-sm-4">
                                    <div class="form-group">
                                        <label class="control-label" for="assoc_po">Assoc. PO</label>
                                        <input type="text" id="assoc_po" name="assoc_pos[]" value="" placeholder="PO #" class="form-control">
                                    </div>
                                </div> 
                                <div class="col-sm-2 hidden-xs">
                                    <div class="form-group">
                                        <label class="control-label" for="shelf_location">Shelf Location</label>
                                        <input style="text-transform:uppercase" type="text" id="shelf_location" name="shelf_locations[]" value="" placeholder="" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <a href="{{ url_for('invoices')}}" class="btn btn-white">Cancel</a>
                                    <button class="btn btn-primary" type="submit">Create invoice</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}
    <script src="{{ url_for('static', filename = "employee_site/js/plugins/datapicker/bootstrap-datepicker.js") }}"></script>
    <script src="{{ url_for('static', filename = "employee_site/js/inventory/invoice/new_invoice.js") }}"></script>
{% endblock %}