{% extends "employee_site/main_template.html" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.10/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.0.0/css/responsive.bootstrap.min.css">
{% endblock %}

{% block body %}
<div class="alert alert-warning alert-dismissable" role="alert"> 
    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
    This page is still in development stage, please check back later.
</div>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Inventory Report</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/internal/">Home</a>
            </li>
            <li class="active">
                <strong>Inventory Report</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row" id="sortable-view">
        <div class="col-lg-3">
            <div class="ibox">
                <div class="ibox-content">
                    <div id="current_stock_inv_value">
                        <br>
                        <div class="sk-spinner sk-spinner-chasing-dots">
                            <div class="sk-dot1"></div>
                            <div class="sk-dot2"></div>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox">
                <div class="ibox-content">
                    <div id="current_unclaimed_inv_value">
                        <br>
                        <div class="sk-spinner sk-spinner-chasing-dots">
                            <div class="sk-dot1"></div>
                            <div class="sk-dot2"></div>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox">
                <div class="ibox-content">
                    <div id="current_claimed_inv_value">
                        <br>
                        <div class="sk-spinner sk-spinner-chasing-dots">
                            <div class="sk-dot1"></div>
                            <div class="sk-dot2"></div>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox">
                <div class="ibox-content">
                    <h5>Dispatched Inventory Value <small>To be updated</small></h5>
                    <div class="sk-spinner sk-spinner-chasing-dots">
                        <div class="sk-dot1"></div>
                        <div class="sk-dot2"></div>
                    </div>
                    <br>
                
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Top 50 Most Popular Parts</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <table id="most_freq_bought" class="table table-hover table-striped" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Part Number</th>
                                <th>Description</th>
                                <th class="text-center">Type</th>
                                <th class="text-center">Bought</th>
                                <th class="text-right">Status</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Part Number</th>
                                <th>Description</th>
                                <th class="text-center">Type</th>
                                <th class="text-center">Bought</th>
                                <th class="text-right">Status</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Place holder for another chart</h5>
                </div>
                <div class="ibox-content">
                    <div class="sk-spinner sk-spinner-chasing-dots">
                        <div class="sk-dot1"></div>
                        <div class="sk-dot2"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="col-lg-6">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Most Frequently Bought</h5>
                </div>
                <div class="ibox-content">
                    <h5>Unclaimed Inventory Value</h5>
                    <h1 class="no-margins">123,456</h1>
                    <div class="stat-percent font-bold text-navy">32% <i class="fa fa-bolt"></i></div>
                    <small>Total inventory</small>
                </div>
            </div>
        </div -->
    </div>  
</div>


{% endblock %}

{% block javascript %}
    <script src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.10/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.0.0/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.0.0/js/responsive.bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename = "employee_site/js/inventory/report/most_freq_bought.js") }}"></script>
    <script src="{{ url_for('static', filename = "employee_site/js/inventory/report/statistics.js") }}"></script>
{% endblock %}