{% extends "employee_site/main_template.html" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/t/bs/jszip-2.5.0,pdfmake-0.1.18,dt-1.10.11,b-1.1.2,b-flash-1.1.2,b-html5-1.1.2,b-print-1.1.2,r-2.0.2/datatables.min.css">
<!--     <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.1.2/css/buttons.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.0.0/css/responsive.bootstrap.min.css"> -->

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = "employee_site/css/plugins/sweetalert/sweetalert.css") }}">

{% endblock %}

{% block body %}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-5">
        <h2>Shelf Report</h2>
        <ol class="breadcrumb">
            <li>
                <a href="{{ url_for('dashboard') }}">Home</a>
            </li>
            <li>
                <a href="{{ url_for('inventory_report')}}">Inventory Report</a>
            </li>
            <li class="active">
                <strong>Shelf Report</strong>
            </li>
        </ol>
    </div>
</div>


<!-- <p> {{ part_detail_data }} </p> -->
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Shelf Report</h5>
                    <!-- <div class="ibox-tools pull-right">
                        <a href="#" class="btn btn-primary btn-sm">New User</a>
                    </div> -->
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12 col-md-offset-3">
                            <div class="panel-body">
                                <form id="shelf_report_form" action="" method="POST" class="form-inline" >
                                    <div class="form-group">
                                        <label for="shelf">Choose Shelf</label>
                                        <select id="shelf" name="shelf" class="form-control" >
                                            {% for shelf in all_shelves %}
                                            <option value="{{shelf}}">{{shelf}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <button type="submit" class="btn btn-primary" id="get_shelf_report">Get Report</button>
                                    <a href="" class="btn btn-info" id="clear_table">Clear</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ibox-content">
                    <table id="shelf_report_table" class="table table-hover table-striped" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Invoice Number</th>
                                <th>Part Number</th>
                                <th>Part Description</th>
                                <th class="text-center">Received Date</th>
                                <th class="text-center">Claimed Date</th>
                                <th class="text-center">Price</th>
                                <th class="text-center">Location</th>
                                <th class="text-center">Status</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script src="https://cdn.datatables.net/t/bs/jszip-2.5.0,pdfmake-0.1.18,dt-1.10.11,b-1.1.2,b-flash-1.1.2,b-html5-1.1.2,b-print-1.1.2,r-2.0.2/datatables.min.js"></script>

<!--     // <script src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>

    // <script src="https://cdn.datatables.net/1.10.10/js/dataTables.bootstrap.min.js"></script>
    // <script src="https://cdn.datatables.net/buttons/1.1.2/js/dataTables.buttons.min.js"></script>
    // <script src="https://cdn.datatables.net/responsive/2.0.0/js/dataTables.responsive.min.js"></script>
    // <script src="https://cdn.datatables.net/responsive/2.0.0/js/responsive.bootstrap.min.js"></script> -->

    <script src="{{ url_for('static', filename = "employee_site/js/plugins/datapicker/bootstrap-datepicker.js") }}"></script>
        <script src="{{ url_for('static', filename = "employee_site/js/plugins/sweetalert/sweetalert.min.js") }}"></script>
    <script src="{{ url_for('static', filename = "employee_site/js/inventory/report/shelf_report.js") }}"></script>
{% endblock %}
