{% extends "employee_site/main_template.html" %}

{% block css %}

{% endblock %}

{% block body %}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
    <h2>View Invoice</h2>
        <ol class="breadcrumb">
            <li>
                <a href="{{ url_for('dashboard') }}">Home</a>
            </li>
            <li>
                <a href="{{ url_for('invoices') }}">Invoices</a>
            </li>
            <li class="active">
                <strong>{{ invoice.invoice_number }}</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Invoice Detail </h5>
                </div>
                <div class="ibox-content">
                    <form action="" method="POST" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-sm-6 col-md-9">
                                <div class="form-group">
                                    <label class="control-label" for="invoice_number">Invoice Number</label>
                                    <input type="text" readonly="" id="invoice_number" value="{{ invoice.invoice_number }}" placeholder="Invoice #" class="form-control" autofocus tabindex="1">
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label class="control-label" for="date_received">Received date</label>
                                    <div class="input-group date">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input id="date_received" name="date_received" type="text" class="form-control" value="{{ sql_to_us_date(invoice.received_date) }}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-md-9">
                                <div class="checkbox checkbox-danger">
                                    <input id="part_input" type="checkbox" >
                                    <label for="part_input">
                                        Enable editing
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="row" >
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-hover table-stripped table-bordered">
                                        <thead>
                                        <tr>
                                            <th style="width: 15%">
                                                Part Number
                                            </th>
                                            <th style="width: 30%">
                                                Description
                                            </th>
                                            <th style="width: 20%">
                                                Assoc. PO
                                            </th>
                                            <th class="text-center" style="width: 10%">
                                                Claimed Date
                                            </th>
                                            <th style="width: 5%">
                                                Location
                                            </th>
                                            <th style="width: 20%">
                                                Status
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody id="part_list">
                                        {% for part in invoice.parts %}
                                        <tr>
                                            <input type="hidden" name="invoice_detail_id[]" class="form-control part_input" value="{{ part.id }}">
                                            <td id="invoice_parts">
                                                {% if part.claimed == true %}
                                                <div class="input-group has-feedback">
                                                    <input type="text" name="part_numbers[]" class="form-control part_input" placeholder="Part Number" value="{{ part.part_number }}">
                                                    <span class="input-group-addon glyphicon glyphicon-warning-sign"></span>
                                                <div>
                                                {% else %}
                                                <input type="text" style="text-transform:uppercase" name="part_numbers[]" class="form-control part_input" placeholder="Part #" value="{{ part.part_number }}">
                                                {% endif %}
                                            </td>
                                            <td>
                                                <input type="text" class="form-control part_input" placeholder="Part description" value="{{ part.description }}">
                                            </td>
                                            <td>
                                                <input type="text" name="assoc_pos[]" class="form-control part_input" placeholder="Assoc. PO" value="{{ part.purchase_order_number }}">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control part_input text-center" placeholder="" value="{{ sql_to_us_date(part.claimed_date) }}">
                                            </td>
                                            <td>
                                                <input type="text" name="locations[]" class="form-control part_input text-center" placeholder="" value="{{ part.shelf_location | default('', True) }}">
                                            </td>
                                            <td>
                                                <select name="statuses[]" class="form-control" >
                                                    <option value="New" {% if part.status == "New" %}selected {% endif %} >New</option>
                                                    <option value="Dispatched" {% if part.status == "Dispatched" %}selected {% endif %}>Dispatched</option>
                                                    <option value="In Stock - Claimed" {% if part.status == "In Stock - Claimed" %}selected {% endif %}>In Stock - Claimed</option>
                                                    <option value="Used - Claimed" {% if part.status == "Used - Claimed" %}selected {% endif %}>Used - Claimed</option>
                                                    <option value="Returned" {% if part.status == "Returned" %}selected {% endif %}>Returned</option>
                                                    <option value="Remove">Remove From Invoice</option>

                                                </select>
                                            </td>
                                        </tr>
                                        {% endfor %}

                                        <tr>
                                            <div id="add_part_button" class="btn btn-primary">Add</div>
                                        </tr>
                                        </tbody>

                                    </table>

                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <a href="{{ url_for('invoices')}}" class="btn btn-white">Cancel</a>
                                    <button class="btn btn-primary" type="submit">Save invoice</button>
                                    <a href="{{ url_for('invoices')}}" class="btn btn-danger">Delete</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}
    <script src="{{ url_for('static', filename="employee_site/js/plugins/datapicker/bootstrap-datepicker.js") }}"></script>
    <script src="{{ url_for('static', filename="employee_site/js/inventory/invoice/view_invoice.js") }}"></script>
{% endblock %}
