{% extends "employee_site/main_template.html" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.10/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.0.0/css/responsive.bootstrap.min.css">
{% endblock %}

{% block body %}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-5">
        <h2>User Base</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="../">User Base</a>
            </li>
            <li class="active">
                <strong>New User</strong>
            </li>
        </ol>
    </div>
</div>


<!-- <p> {{ part_detail_data }} </p> -->
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>New User</h5>
                    <!-- <div class="ibox-tools pull-right">
                        <a href="#" class="btn btn-primary btn-sm">New User</a>
                    </div> -->
                </div>
                <div class="ibox-content">
                    <form action="" method="POST" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel-body">
                                    <fieldset class="form-horizontal">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">First Name*</label>
                                            <div class="col-sm-10">
                                                <input name = "first_name" type="text" placeholder="First Name" class="form-control" >
                                            </div>
                                        </div>
                                    
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Last Name*</label>
                                            <div class="col-sm-10">
                                                <input name = "last_name" type="text" placeholder="Last Name" class="form-control" >
                                            </div>
                                        </div>
                                    
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="start_date">Start Date*</label>
                                            <div class="col-sm-10">
                                                <div class="input-group date">
                                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input id="start_date" name="start_date" type="text" class="form-control new_user_start_date" value="">
                                                </div>
                                            </div>
                                        </div>
                                    
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Email*</label>
                                            <div class="col-sm-10">
                                                <div class="input-group "><span class="input-group-addon">@</span> <input name = "email" type="text" placeholder="HNG Email" class="form-control"></div>
                                            </div>
                                        </div>
                                    
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Job Title*</label>
                                            <div class="col-sm-10">
                                                <input name = "job_title" type="text" placeholder="Job Title" class="form-control" >
                                            </div>
                                        </div>
                                   
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Department</label>
                                            <div class="col-sm-10">
                                                <input name = "department" type="text" placeholder="Department" class="form-control" >
                                            </div>
                                        </div>
                                    
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Gender</label>
                                            <div class="col-sm-10">
                                                <select name="gender" class="form-control" >
                                                    <option value="">Undisclosed</option>
                                                    <option value="F">Female</option>
                                                    <option value="M">Male</option>
                                                </select>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4 col-sm-offset-4">
                                <button class="btn btn-primary" type="submit">Create Account</button>
                            </div>
                        </div>
                  </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}
    <script src="{{ url_for('static', filename = "employee_site/js/plugins/datapicker/bootstrap-datepicker.js") }}"></script>
    <script src="{{ url_for('static', filename = "employee_site/js/admin/user-base/new_user.js") }}"></script>
{% endblock %}